[2020-04-12 00:29] addyosmani opened #1 "Implement HUD Overlay"
Summary:

- When a developer installs the extension, in addition to the Ambient Badge, we can also render an in-page persistent heads-up display with WebVitals.js RUM data.
- This HUD should maintain a level of opacity (0.7?) to ensure the developer can still see the underlying UI to the page. This is inline with other HUD DX offered in Chrome DevTools for the FPS HUD.
- This HUD should provide a

[2020-04-13 18:41] addyosmani opened #2 "Improve badging consistency"
With the extension installed...

1. Create a number of new tabs (e.g 5)
2. Navigate to a new URL for each tab (e.g cnn.com, web.dev, wikipedia etc)
3. Switch back and forth between the tabs
4. Some of the tabs will display a grey icon (i.e we do not yet know if the page metrics pass the Core Web Vitals thresholds), however, clicking on the badge for the drill-down shows that we do have metrics dat

[2020-04-13 18:49] addyosmani opened #3 "Implement support for options"
Docs: https://developer.chrome.com/extensions/options
Related: #1 (HUD Overlay)

We should expose options UI for users to toggle on/off the HUD overlay. This feature should not be enabled by default as it could be considered a little invasive for every single page-load.

Later, we can also use the options surface for providing more granular control over aspects like... do you _want_ us to fetch fi

[2020-04-13 19:00] addyosmani opened #4 "Complete Ambient Badging"
Badging as currently implemented has three states: in-determinant (grey), passing thresholds (green) and failing thresholds (red).

To complete ambient badging support, we want to support the following UX: overall green/red (current) which animates to a badge showing which metric is failing, and if there are multiple just show the number of metrics that are failing.

The states are as follows:

-

[2020-04-13 20:21] rviscomi opened #5 "Clicking anywhere on the page finalizes FID"
Per [web.dev/fid](https://web.dev/fid/#what-is-fid):

However, when I click on any non-interactive part of the page, like the background, FID appears as finalized in the console log and the drill-down UI. I'd expect it to stay indeterminate until interacting with part of the UI.

This could be a bug in the JS library, the perf API, or just a misunderstanding in the docs.

[2020-04-13 20:57] rviscomi opened #7 "Warn about LCP inflated by background loading"
If I open a new tab in the background, and wait ~15 seconds before switching over to it, then LCP will be at least 15 seconds. From a UX perspective, the page appeared almost instantly, so a "slow" LCP value like this is not representative.

However, this seems to be a feature (not a bug) of the API because it's documented at [web.dev/lcp](https://web.dev/lcp/#when-is-largest-contentful-paint-repo

[2020-04-14 02:26] addyosmani opened #9 "Move WebVitals.js to an external script"
Due to a number of issues I experienced when importing WebVitals.js into a content script, we currently inline the UMD build in https://github.com/GoogleChrome/web-vitals-extension/blob/master/extension/src/browser_action/vitals.js#L18.

This probably won't scale over time and we should fix it sooner rather than later so we can pull in library updates as needed. As the latest version of the librar

[2020-04-15 02:05] #2 closed, assigned to rviscomi

[2020-04-16 17:15] addyosmani opened #11 "[Overlay] Add ability to close the overlay"
Feature request from #10

It would be useful for users to be able to close the overlay without having to disable it via options for a session.

[2020-04-16 17:16] #3 closed, assigned to addyosmani

[2020-04-16 17:37] #1 closed, assigned to addyosmani

[2020-04-18 16:20] dalmaer opened #12 "Handle the "pages loaded before the extension was installed" case #minor"
Once you load the extension you normally have pages loaded... thus show up as grey (fine!) and when you click on the badge an empty windows pops up.

Instead: could say something there and even offer "how about reload?" :)

Actually, it's also in the general "grey because results haven't come back yet" case.... so wouldn't want to offer reload while it's loading.

[2020-04-18 19:41] dalmaer opened #13 "What % of my browsing hits vs. doesn't?"
I am enjoying looking at a scoreboard and peaking at the overall view of things.

One idea would be to have an option to show meta information such as:

- % of runs (final) scores that hit vs. don't
- top 5 / bottom 5 list (not sure the right numbers, if they reset each week etc)

[2020-04-21 15:28] #9 closed, assigned to addyosmani

[2020-04-22 20:28] addyosmani opened #14 "[chore] Put PSI implementation behind a feature-flag"
Rather than keeping this commented out until later in May, let's just put the implem behind a feature-flag. Makes it easier for development.

[2020-04-23 00:35] addyosmani opened #16 "[chore] Add GA"
* Check on official policies
* Track actives?
* Track badge-clicks / pop-up opens
* Track overlays enabled

[2020-04-23 18:21] robdodson opened #17 "Link to articles to explain final vs not final"
Using the extension for the first time I wasn't sure how to interpret final/not final:
![image](https://user-images.githubusercontent.com/1066253/80135031-77b02100-8554-11ea-97e3-19b1bad45289.png)

One idea: could each row have a `?` that's a link which points at its respective article (web.dev/cls, web.dev/lcp, etc)

[2020-04-23 19:27] #4 closed, assigned to nobody

[2020-04-23 19:27] #14 closed, assigned to addyosmani

[2020-04-23 19:32] addyosmani opened #18 "Update to latest version of web-vitals.js"
Few changes we need to account for including the switch from promises to callbacks https://github.com/GoogleChrome/web-vitals/commit/30043635a2598ce5e500c846ae282a533974b609

[2020-04-23 19:35] addyosmani opened #19 "FID should only be considered passing (green) when it's state is final"
Feedback from Phil:

The fix here will be only considering FID to be passing when it's state is final.

[2020-04-23 20:03] #18 closed, assigned to addyosmani

[2020-04-24 19:07] #5 closed, assigned to nobody

[2020-04-26 22:07] #12 closed, assigned to rviscomi

[2020-04-26 22:50] dalmaer opened #22 "Red CLS of 0.0 (my confusion)"
I get confused when I see "CLS 0.00" on the red background. It's probably because of my anchoring.... but it takes me a minute to realize "ohhhh that's right.... it's red because in general it didn't pass, not because CLS didn't hit it's threshold".

One idea / option: when red, only cycle through the items that are missed (and often it will just mean it's static on the one error if the other two

[2020-04-27 18:31] addyosmani opened #23 "Document different modes/features"
* Ambient badge
* Pop-up drill-down
* Opt-in overlay

[2020-04-27 23:24] #22 closed, assigned to addyosmani

[2020-04-27 23:24] #17 closed, assigned to nobody

[2020-04-29 00:52] #16 closed, assigned to addyosmani

[2020-04-30 00:49] #11 closed, assigned to nobody

[2020-04-30 13:20] patrickhulce opened #25 "Extension crashed"
I got a notification "Web Vitals extension crashed, click this balloon to reload" after switching between a couple tabs quickly.

Here's the error log from `chrome://extensions`
![image](https://user-images.githubusercontent.com/2301202/80715013-5d79c400-8abb-11ea-8e7c-cbfd16699585.png)

[2020-04-30 19:35] patrickhulce opened #26 "`final` v. `not final` labels were a bit unclear at first"
I was initially confused by what `(final)` and `(not final)` meant. At first I thought it was a signal on the metric implementation or something because `(not final)` only appeared on CLS when I first opened the extension. I quickly realized it was whether the value might change or we're definitely done computing the metric.

I'm not sure who the audience of the extension is, but if they there's o

[2020-04-30 19:51] patrickhulce opened #27 "Extension freezes when a page is refreshed with throttling"
**Repro Steps**

- Navigate to https://www.theverge.com/
- Click on the page to trigger FID
- Open the extension to observe the metrics, note their values
- Open DevTools on the page and enable Fast 3G throttling
- Refresh the page and wait for it to load
- Open the extension to observe the metrics, note none of their values have changed and they all read "final", even CLS
- Repeat the refresh as

[2020-04-30 19:58] patrickhulce opened #28 "How to deal with oversampling of fast page loads"
I am definitely a little concerned about folks loading this extension up on their high-powered machines, seeing LCP times in <1s range and then thinking the job is done on performance and/or distrusting other tooling that tells them their LCP is longer.

Example: cnn.com

On mobile this page takes ~8s for FCP and has horrendous performance, but on my laptop with wifi and an adblocker, this extensi

[2020-04-30 20:41] patrickhulce opened #29 "Extension flickers and maxes out CPU on Google Meet"
I'm guessing video messes with CLS events or something because while I had a video call the extension was flickering rapidly and Chrome's task manager pointed to the extension process as being maxed out at 100% CPU with fans spinning. Maybe we can throttle the computation somehow?

[2020-04-30 20:49] patrickkettner opened #30 "document green !== good for all users"
This extension is great!
One thing that I am not sure is clear at the moment is that this tells you that the _current_ device passes this _current_ URL  ("my homepage is green when I load it on my dev laptop! i'm all good"). Since real user data is so important to Web Vitals, it might make sense to make it more explicit that just because it passes on your dev device does not mean it actually passe

[2020-04-30 21:20] #30 closed, assigned to nobody

[2020-04-30 23:01] #7 closed, assigned to nobody

[2020-05-01 19:16] #28 closed, assigned to nobody

[2020-05-01 20:12] #26 closed, assigned to addyosmani

[2020-05-02 06:27] #25 closed, assigned to addyosmani

[2020-05-02 18:16] addyosmani opened #37 "Add debouncing/throttle for badge updates"
As first raised by @patrickhulce there are cases where a page with highly dynamic in-viewport content may cause frequent updates to the badge. e.g a page with in-viewport animations (e.g http://mdn.github.io/performance-scenarios/js-worker/index.html - select rAF and animate) will cause a firehose of CLS updates with significant badge flashing.

To address this, we could do a few things:

1. Limit

[2020-05-02 18:16] #29 closed, assigned to addyosmani

[2020-05-02 18:23] addyosmani opened #38 "Badge closes do not fully persist"
The current badge overlay close button will remove the badge from the page, but will not persist the badge closure during your session. This might be surprising to developers (e.g I see my metrics -> close badge -> CLS wasn't final and just updated -> whoops here's the badge again).

Few options....

1. Clicking close will be the same as disabling the overlay for the particular tab (i.e we update

[2020-05-02 18:33] rviscomi opened #39 "Visualize metric changes over time"
Totally optional. I think it'd be cool to see the rate of change of a metric like CLS plotted graphically. This wouldn't be the default view but behind some kind of advanced/more button.

@addyosmani wdyt?

Edit: To clarify I'm only referring to the span of time that the tab is active, not a historical view of previous page loads.

For example, let's provide a way to visualize how CLS got to be 0.

[2020-05-04 18:03] housseindjirdeh commented on #38
Yep I can take this on!

Related, but I also noticed switching tabs and returning will always re-surface the overlay (close badge -> switch tab -> come back to original tab -> badge overlay is back). This may be intended, but I found it kind of unexpected.

Agreed, option 1 sounds simplest 👍

[2020-05-04 21:35] #37 closed

[2020-05-05 01:57] rviscomi opened #42 "Clarify good vs poor experience"
CWV defines three buckets of experience: good, needs improvement, and poor. Currently, the extension labels anything not good as poor.

Should the extension account for experiences in the needs improvement bucket?

[2020-05-05 02:33] addyosmani commented on #42
Great question, Rick!

In our initial discussions about badging for the extension, we decided that good vs. poor was sufficient to distinguish if your page needed more work. That said, it would certainly be possible to add a needs improvement bucket into the mix and I'm not opposed :)

It would be a bit of work to add this. Let's keep this open to hear (1) do others want this? (2) if anyone is int

[2020-05-05 02:35] addyosmani commented on #39
Thanks for clarifying! That was originally going to be my first question (how much of this is for the current session/tab activity vs over the lifetime of previous page loads).

Is there a particular surface in the extension you were thinking something like this could live? Is it a drill-down feature? overlay?

[2020-05-05 02:35] #23 closed

[2020-05-05 03:48] rviscomi commented on #39
I think the best fit for this UI would be in the overlay because it lets you monitor changes while interacting with the page. The drill-down collapses as soon as you click away from it.

[2020-05-05 03:57] rviscomi commented on #42
Approaching this from a product consistency standpoint, because "poor" and "needs improvement" are loaded terms with threshold/quality implications, I think there's a risk of creating confusion if this tool reports a value like CLS=0.2 as poor while Lighthouse reports it as NI.

[2020-05-05 05:46] addyosmani commented on #42
Certainly. Through May we'll be working to land a consistent Core Web Vitals story across Lighthouse, PSI and our other tools. We can consider adding NI here as part of that.

UX: If all metrics are NI, I imagine we'll want to show an orange square and animate the metrics similar to red/poor?

[2020-05-05 18:32] addyosmani opened #44 "Global style overrides breaking old Facebook layout"
Report: https://twitter.com/unix_root/status/1257732387074535425/photo/1

Repro confirmation:

![image](https://user-images.githubusercontent.com/110953/81102201-22fd9600-8ec4-11ea-9076-5da123aab5f9.png)

[2020-05-05 19:26] #44 closed

[2020-05-05 20:13] tapsboy opened #46 "Breaks gmail UI, when active"
Searchbox
![image](https://user-images.githubusercontent.com/868525/81111532-3b34db80-8eeb-11ea-9953-bad063d3fd2e.png)

Missing action checkbox
![image](https://user-images.githubusercontent.com/868525/81111569-4ab42480-8eeb-11ea-8c63-a9b08c8039b4.png)

[2020-05-05 21:00] addyosmani opened #47 "Improve overall style scoping"
Should fix #46 (related to #44)

[2020-05-05 21:03] addyosmani commented on #46
Thanks. I'll address this as part of https://github.com/GoogleChrome/web-vitals-extension/issues/47 today.

[2020-05-05 22:19] #47 closed

[2020-05-05 22:19] #46 closed

[2020-05-06 15:28] rviscomi opened #49 "Clicking the HUD counts towards FID"
Not sure how much we can do here, but this was unexpected. If we can't improve the DX it should at least be documented.

1. Enable the HUD (overlay)
2. Load a page
3. Click anywhere in the HUD
4. FID becomes final

[2020-05-06 17:20] addyosmani commented on #49
+1 to this being documented in the README. I anticipate developers could click on the HUD overlay for one of three reasons:

1. Clicking Close
2. Accidental click on one of the metrics
3. Attempting to click something the overlay covers

Ideas for DX:

- We could monitor clicks to anything inside the overlay. Either a message in the overlay or console could be shown to warn you ~ this click could

[2020-05-07 18:23] addyosmani opened #53 "[Feature] CrUX field data"
The extension currently provides a local view of your URL's Core Web Vitals metrics but it can also be valuable to get insight into aggregate field data for the URL too (e.g at an origin or URL-level). We will explore adding field data to the extension via CrUX.

Some considerations:

- Initial implementation will be behind a flag until we roll-out
- Only attempt to fetch information if we're not

[2020-05-07 18:31] rviscomi commented on #53
One compelling use case is to highlight significant deviations in local data vs field data. For example, I'm a developer testing my website and the extension tells me my local vitals are all Good. Field data kicks in to remind me that my experience is an outlier and 90% of real user experiences are worse than mine.

There are also some considerations for the type of field data we want to get:
- UR

[2020-05-08 08:52] gtsiolis opened #54 "Error: Extension manifest must request permission to access this host"
The following error is shown within the extension (Errors) page every time you open a new tab.

<img width="681" alt="Screen Shot 2020-05-08 at 11 25 55 AM" src="https://user-images.githubusercontent.com/120486/81388045-5e949c00-9120-11ea-9148-db71d9023249.png">

[2020-05-08 08:56] romanadamita commented on #54
Same.
https://twitter.com/AdamitaRoman/status/1258680104143765505

[2020-05-08 09:07] romanadamita opened #55 "Issue on src/browser_action/popup.js"
Just scanned with deepscan.io and found this issue: [https://deepscan.io/dashboard/#view=project&tid=9092&pid=11374&bid=168611&subview=issues&impact=%5B%22High%22%5D](url)

[2020-05-08 09:08] romanadamita commented on #55
![image](https://user-images.githubusercontent.com/15194258/81390760-ac130800-9124-11ea-9da8-032e9002a8da.png)

[2020-05-08 10:41] pedrommenezes commented on #55
I've been also seeing an error, but on `popup.html` file:
<img width="655" alt="Screenshot 2020-05-08 at 11 41 13" src="https://user-images.githubusercontent.com/36070274/81398297-debb0180-9120-11ea-8188-310c59bea654.png">

[2020-05-08 16:46] AlanBleiweiss opened #56 "Chrome Extension Error"
Installed the Chrome extension (Web Vitals .1.1) on my Macbook Pro. (El Capitan v. 10.11.6).  On first install, extension was shown with three errors, however it turned out i didn't have the latest version of Chrome. So I updated that and it's now the latest version - 81.0.4044.138 (Official Build) (64-bit) and there's one error in the extension.

Unchecked runtime.lastError: Cannot access content

[2020-05-08 16:54] rviscomi commented on #56
Looks like a duplicate of #54

[2020-05-08 17:10] addyosmani commented on #56
Yeah, I'm reading this as a dupe of 54. Closing in favor of fixing that one. Thanks for the report!

[2020-05-08 17:10] #56 closed

[2020-05-08 17:10] AlanBleiweiss commented on #56
It may be the same error.  Theirs refers to a different URL where the contents couldn't be accessed.

Sorry if it's the same and this is a duplicate submission.  I'm new here and after reporting last night, was asked to post by Addy Osmani. I only saw that request a few minutes ago.

[2020-05-08 17:52] transitive-bullshit opened #57 "Release on Chrome web store?"
I know it's a preview, but this will be a significant barrier to adoption for many developers.

Also, once it's on the web store, I'd suggest adding a large, obvious CTA to both the homepage and the readme. Right now, the homepage is lacking a clear CTA to get started with the extension which is the flow that 95% of people will want to take.

Cheers 😄

[2020-05-08 18:19] addyosmani commented on #57
Thanks for asking about this. I've covered it in our README: https://github.com/GoogleChrome/web-vitals-extension#faq. The tl;dr is that we're working with the Chrome Web Store to get the extension submitted but extensions authored by Googlers need to go through additional privacy and security reviews, this the delay. Hoping to get this over there as soon as possible! 😄

[2020-05-08 18:19] #57 closed

[2020-05-08 22:34] jdiamond commented on #57
Can we keep this issue open until it's published so we can subscribe to the issue to know when it's ready?

[2020-05-10 02:27] RByers commented on #44
I played about 10 rounds of poker on https://www.pokernow.club/ before I realized the 5th card was never showing as a result of this bug 😆. Or it could have been some other similar bug in recent versions of this extension - updating the extension for the past few days of commits fixed it. Clearly I'm a terrible poker player. Don't worry Addy, you don't owe me any money - somehow I won anyway 😮 .

[2020-05-10 02:58] addyosmani commented on #44
@RByers If it's any consolation, here is a graph of my blood pressure before and after reading your last sentence 🤣

![37575284](https://user-images.githubusercontent.com/110953/81489809-0dbf9900-922f-11ea-8e59-9500c5fafcec.jpg)

Glad to hear the latest commits do the trick and congrats on winning! You're too good at poker to let rendering bugs hold you back 🥳

[2020-05-10 09:16] MattixNow opened #58 "Uncaught (in promise) ReferenceError: _ is not defined"
An error appear after i installed the extension
![image](https://user-images.githubusercontent.com/32040951/81495308-a85fbc80-92af-11ea-8622-f99de275e921.png)

[2020-05-10 16:58] RByers commented on #44
Hah hah. Yeah right, I'm SO good that I didn't even realize I was playing only 80% of the game 😉 . It was the third game I've played in my life.

[2020-05-11 19:10] addyosmani commented on #58
@MattixNow Could you share if this exception was causing badging or other features to stop working? I would love to determine if this was an error that happened in the background or if it broke the extension Ui entirely. Will take a look regardless.

Cheers!

[2020-05-11 19:44] MattixNow commented on #58
Just after I installed the extension I've seen this error. No change in the ui

[2020-05-11 19:47] MattixNow commented on #58
I've seen other error
![image](https://user-images.githubusercontent.com/32040951/81604990-118b2100-93d1-11ea-9cdb-b7a4c137dc4f.png)

[2020-05-13 18:23] #58 closed

[2020-05-13 18:30] #55 closed

[2020-05-14 17:19] rafaelstz opened #59 "Freezin meet.google.com"
When participating in some meetings not just in meet.google.com the website is freezing and the points in the extension change a lot.
I would suggest avoiding the load in these scenarios or to have a toggle button to not load in some specific sites.

[2020-05-14 18:41] addyosmani commented on #59
@rafaelstz Could you share what version of the extension you experienced this issue on? I recently landed some fixes in master to specifically limit the impact on sites like Google Meet (we throttle how often we badge CLS updates) but it's possible the version you're using was less recent or alternatively, I still have work to do there 😄

Regardless, I'll take a second look with keeping the extens

[2020-05-15 17:39] rafaelstz commented on #59
Nice @addyosmani I'm running the version 0.1.1

[2020-05-18 09:02] kretjens commented on #59
Not sure if related: When I drop the `web-vitals-extension-master` folder on `chrome://extensions` I get this error message:

![image](https://user-images.githubusercontent.com/8503760/82194263-cdc77880-98f6-11ea-9928-96ff3dabf4d6.png)

[2020-05-21 01:47] addyosmani commented on #59
@kretjens Would you mind trying out https://chrome.google.com/webstore/detail/web-vitals/ahfhijdlegdabablpippeagghigmibma?hl=en

[2020-05-22 00:55] addyosmani commented on #59
Hey folks. I've anecdotally heard reports from a number of people that having Google Meet open in a tab while the extension is installed has been causing them to see spikes in CPU. The extension should technically not run at all on Meet tabs - for example, here's the badging I see (neutral/disabled):

![image](https://user-images.githubusercontent.com/110953/82619545-139c6f00-9b8b-11ea-9e2a-ea4455

[2020-05-22 00:55] #59 closed

[2020-05-28 22:29] dkonopka opened #61 "Wrong time format at 12pm"
**Describe the bug**
Somehow instead of 00:25 we see 24:25 time.

**To Reproduce**
Open any website at 12pm.

**Expected behavior**
It should be 00:25 in (24h format) or 12:25 in (12h format)

**Additional context, screenshots, screencasts**
![Screenshot 2020-05-29 at 00 25 41](https://user-images.githubusercontent.com/10219857/83200281-46be9f80-a143-11ea-905e-2a719d94f191.png)

[2020-05-31 18:46] dwsmart opened #63 "SPA sites - New Pages Metrics"
**Describe the bug**
The first initial visit to an SPA site it fine, but if you go to a new page handled by an internal router (i.e. the page is hydrated without a reload) the subsequent page views stack up in the metrics, so you have a combined CLS of all page views, and seemingly the LCP & FID of the initial page.

**To Reproduce**
Go to any SPA that works this way and click around, monitoring t

[2020-06-02 00:34] #61 closed

[2020-06-07 00:50] Abukaleeed opened #65 "aboukaled"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-06-07 01:07] Abukaleeed opened #66 "abu"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-06-07 01:09] Abukaleeed commented on #53
How?

[2020-06-11 00:15] #66 closed

[2020-06-11 00:16] #65 closed

[2020-06-11 00:38] addyosmani opened #67 "Address CPU usage concerns"
Over the last few weeks, we have received a few reports about the extension consuming increased CPU when certain pages are open (in particular Google Meet) - this is generally due to these pages having a high CLS. This has been an issue we previously tried to tackle using badge update throttling. It helped some users, but we're still hearing this is an issue for others. What are our options?

## O

[2020-06-11 03:11] patrickhulce commented on #67
I wonder if this is the extent of the issue. I too had to disable the extension a bit ago because it was hanging Chrome entirely, making the entire browser UI unresponsive to keypresses, scrolls, etc. This was even when I had no obvious culprits like meet.google.com.

I'm loosely suspecting something else at play like attempting to listen to tabs that aren't active, leaks that create an ever growi

[2020-06-18 13:38] sprankhub commented on #67
## Option 3

Similar to other analytics extensions, do not analyse the page by default. Only analyse the page after the extension has been activated for a specific page (e.g. click on extension, click button "reload and measure").

[2020-06-18 14:35] patrickhulce commented on #67
I like that a lot @sprankhub :) I *think* everything should still work with `buffered: true`

@addyosmani how do you feel about a click-to-compute model for the extension rather than trying to hunt down the demons lying here?

[2020-06-18 16:37] addyosmani commented on #67
I would be open to click-to-compute but view it as a bit of a last resort... :) One of the benefits of our ambient badge is that it currently requires no developer interaction to get value out of it when you install and browse.

Another downside of click-to-compute is that if I'm loading up a page and an element suddenly causes me to go into 'the red', this will be less clear if you are waiting on

[2020-06-20 01:43] #67 closed

[2020-06-24 01:48] addyosmani opened #71 "[Memory usage] Background script"
**Describe the bug**

It looks like we may have some additional memory leaks sitting around 🚿  Once all tabs that are badged are closed, memory usage from the extension remains in the ~50MBs on my machine.

<img width="592" alt="Screen Shot 2020-06-23 at 6 42 59 PM" src="https://user-images.githubusercontent.com/110953/85487560-aa40bf00-b581-11ea-87ac-2174ecc8f2d0.png">

This continues to grow if

[2020-06-24 02:06] addyosmani commented on #53
@rviscomi Would it be possible to ask for a summary of where we are currently at with adding CrUX API support? (I saw the conversation about how to approach keys and am happy to chat through a solution for that specifically)

[2020-06-24 02:16] rviscomi commented on #53
I've pushed my changes to the [`field-data`](https://github.com/GoogleChrome/web-vitals-extension/blob/field-data/src/browser_action/popup.js) branch. Could use some UI cleanup but it works for origin data now.

[2020-06-24 15:04] npm1 opened #72 "Extension breaks chromestatus"
**Describe the bug**
When the extension is enabled and I am logged in on https://www.chromestatus.com/feature/5167290693713920, I cannot see the 'star', 'file a bug', or 'edit' buttons. Once I disabled the extension and refresh, I am able to see those buttons.

**Version:**

- OS w/ version: MacOS Catalina
- Browser w/ version Chrome 83

[2020-06-24 15:11] patrickhulce commented on #71
This is the part of this I don't trust here :) Every time I inspected the extension itself with DevTools all memory usage was low and/or eventually GC'd after #69

While the memory does grow for a few minutes in Chrome's task manager. It all appears to be the virtual DOM elements/listeners created by Chrome extension APIs and the periodic checking the extension does and can all be GC'd. (notice th

[2020-06-26 01:02] addyosmani commented on #72
@npm1 Thank you for filing this issue. I've attempted to repro this issue using M83 and M85, both with the current stable version of the extension and the version in master. It appears ChromeStatus is rendering as one would expect. Please see screenshots below.

Would it be possible to share if the version you used was installed from Chrome Web Store? https://chrome.google.com/webstore/detail/web-

[2020-06-26 01:31] #71 closed

[2020-06-26 15:01] npm1 commented on #72
Looks like I was using version 0.1.0. I removed that and installed the ones you linked above and this is no longer an issue. Thanks!

[2020-06-26 15:01] #72 closed

[2020-06-26 19:58] addyosmani commented on #72
👍

[2020-07-02 05:30] rviscomi commented on #63
This is a limitation of the web platform primitives and unfortunately the extension can't do much if anything to alleviate it. The WebPerf WG is actively looking at ways to better measure use cases like SPAs.

[2020-07-02 09:42] dwsmart commented on #63
Thank you for he feedback @rviscomi

Hopefully they will come up with something around this. Fingers crossed 🤞

[2020-07-02 09:42] #63 closed

[2020-07-02 20:26] rviscomi opened #74 "14 hour LCP"
LCP should [stop updating after user input](https://web.dev/lcp/#when-is-largest-contentful-paint-reported:~:text=The%20browser%20will%20stop%20reporting%20new%20entries%20as%20soon%20as%20the%20user%20interacts%20with%20the%20page), but in a long-lived tab I found that it's still periodically updating. For context: https://twitter.com/rick_viscomi/status/1278567773657092097

![image](https://user

[2020-07-06 18:34] addyosmani commented on #74
I'm +1 to us expanding our language around why a metric may have an inflated value, similar to how we speculate tab backgrounding may have been a cause. Is there a particular condition you think we should be using to signal showing this message?

On the lower end of the complexity spectrum, we could set an upper bound (e.g LCP > 1000s) after which this reasoning is given. On the other end, we coul

[2020-07-10 21:44] rviscomi commented on #53
@addyosmani what direction do you want to take this feature? I think I've gone as far as I can without making too many UX assumptions.

[2020-07-10 23:43] addyosmani commented on #53
Thanks for the reminder here, @rviscomi! Some thoughts:

*   Shall we align the UX for field insights with the current styles for CrUX data found in PSI?
*   \> cache results to avoid calling the API on subsequent popup reopenings - yes! That would be great to land before we make this generally available. 
*   \> "inline" each tri-color histogram next to the local metrics for easier comparison - I

[2020-07-10 23:43] addyosmani commented on #53
Thanks for the reminder here, @rviscomi! Some thoughts:

*   Shall we align the UX for field insights with the current styles for CrUX data found in PSI?
*   \> cache results to avoid calling the API on subsequent popup reopenings - yes! That would be great to land before we make this generally available. 
*   \> "inline" each tri-color histogram next to the local metrics for easier comparison - I

[2020-07-11 08:13] Boeket4u opened #75 "pagespeed insights"
Lighthouse heeft een fout geretourneerd: NO_FCP. Er is iets misgegaan bij het registreren van de tracering tijdens het laden van uw pagina. Voer Lighthouse opnieuw uit. (NO_FCP)

[2020-09-20 17:43] balazsorban44 commented on #42
I came here for the same request. I am looking at the report of the Chrome Extension on my page:
![image](https://user-images.githubusercontent.com/18369201/93717883-d8ca3800-fb78-11ea-8eda-9e346eacdd29.png)

According to https://web.dev/cls/#what-is-cls, <0.25 should be "needs improvement".

![image](https://web.dev/vitals/cls_8x2.svg)

Though not an issue - it is clear in both cases that further

[2020-10-21 08:59] gilbertococchi opened #76 "Persist FID value between pages on HUD"
FID issues due to 3rd parties on click events are quite hard to troubleshoot so far and I am wondering if the web-vitals-extension HUD Overlay can store the previous page FID value to help spotting this kind of issues.

Below an example on Montblanc IT https://www.montblanc.com/it-it site where FID becomes 165ms but it's impossible for the user to notice that on the next page and it correlates wit

[2020-10-21 16:26] addyosmani commented on #76
This is an interesting feature request. If I'm reading this correctly, there is interest in adding History support to the extension so that, perhaps on navigation to a new page/route, we temporarily persist the set of CWV values previously experienced and perhaps give you some drill-down:

<details>
  <summary>Previous values</summary>
  <ul>
     <li>https://foo.com/about - LCP: 2.4s, FID: 0.3s,

[2020-10-21 17:08] gilbertococchi commented on #76
Exactly, having some way to browse/inspect previous values, especially FID would be beneficial considering the metric nature.

In the screenshot I've added you can tell that the Extension is on Page2 after having clicked on a button on Page1 but only thanks to the "Performance" session screenshots of the Page1 FID value being populated I was able to tell Page1 FID was of 165ms.

[2020-10-21 21:56] rviscomi opened #77 "Log CWV events to the console"
**Is your feature request related to a problem? Please describe.**
The CWV values reported by the extension are useful snapshots of the UX, but they don't necessarily have any diagnostic information for developers to understand what could have caused adverse experiences.

**Describe the solution you'd like**
I'd like to see the extension utilize console logging more to leave an audit trail to assi

[2020-10-21 21:59] rviscomi commented on #76
I filed https://github.com/GoogleChrome/web-vitals-extension/issues/77 for a different reason but I actually think it would solve this use case. Console logs can be persisted across navigations, so it should be straightforward to refer back to the previous page's FID.

I think the technical bar for console logs is really low, so that may be a lower friction way to achieve the same result without h

[2020-10-21 22:48] gilbertococchi commented on #76
+1, great idea, I believe using some simple Console Logs would solve the gap here!

[2020-11-11 22:06] awareness481 opened #78 "Extension shows 'metrics unavailable' instead of metrics"
**Describe the bug**

Clicking on extension popup often shows 'Metrics unavailable while HUD appears to show correct values, See screenshow below

**To Reproduce**

I haven't been able to fully identify the steps to reproduce. I suspect however that it happens when either all values or the CLS value approach zero or are zero.

**Expected behavior**
To show the metrics. As I understand, even if the

[2020-11-14 14:49] nunoperalta commented on #78
This is happening often to me too, especially when I do "ajax navigations" from one page to another (but that doesn't do a full page load)

[2020-11-14 15:17] nunoperalta opened #79 "Extension vs Real Measures"
Hi,

First of all - THANK YOU for this extension. It helped me figure out why my website continues to have a bad CLS score, when Lighthouse and PageSpeed always gives Green CLS.
I've fixed most of the issues I could find, but there's still one that I'm not sure what to do about.

My website uses ajax navigation, which keeps the Header/Footer and triggers pushState() with the new URL, to avoid havi

[2020-11-15 02:32] nunoperalta commented on #79
Just want to add (I know it's not the extension's fault),

This CLS algorithm really needs to be easier on Ajax requests overall.

For example, think about Comments on a Post.
And users can reply to the comments (nested replies).
We do something similar to Facebook/Instagram, where we show the last 3 nested comments, but you can "View X more comments".
Clicking on that button, we do an ajax reques

[2020-11-17 17:40] gilbertococchi commented on #77
Hi @rviscomi and @addyosmani I've opened a PR with a proposed Console Logging option here: https://github.com/GoogleChrome/web-vitals-extension/pull/80

[2020-11-17 17:47] #76 closed

[2020-12-10 15:27] EdBoyd commented on #78
Yet to see anything other than "Metrics data unavailable." no matter which site i look at, including this page.
Windows 10
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36

[2020-12-10 18:22] danparm opened #81 "Chrome error - unable to unzip extension"
Noticed a problem with the extension this morning in the console, unable to load a dependent script. Removed the extension to install 0.4.1 from the Chrome Web Store and I'm getting an error than the extension can't be unzipped.
![image](https://user-images.githubusercontent.com/4818190/101813362-a29eb380-3aea-11eb-85b5-3c346d14379b.png)

Win10 Version	10.0.17134 Build 17134
Chrome Version 87.0.42

[2020-12-12 02:21] addyosmani commented on #81
Thank you for filing this issue.

I attempted to publish a new release this week and discovered that the zip output we usually upload was not being recognized for reasons I am still debugging. I've gone ahead and submitted a reverted release to Chrome Web Store which I am hopeful gets accepted in the mean time and should at least make the above warning disappear.

[2020-12-14 16:50] danparm commented on #81
@addyosmani got the extension re-installed this morning. No issues with the install or regular usage so far. Thanks!

[2020-12-17 18:27] rviscomi commented on #53
New UI! Here's what I'll be implementing as part of this issue:

![image](https://user-images.githubusercontent.com/1120896/102527742-90cd8b00-406b-11eb-8f27-5ca27d850e06.png)

[2020-12-18 19:22] #75 closed

[2020-12-23 11:18] awareness481 commented on #78
FWIW I'm not seeing this error anymore on version `0.4.2`

Chrome: 87.0.4280.88

Could you check if the error still occurs after upgrading to `0.4.2`

[2020-12-23 12:22] nunoperalta commented on #78
Might be fixed, yes. Thanks! 👍

[2020-12-24 01:19] rviscomi opened #83 "Prevent the cache from growing uncontrollably"
Click on the extension icon to open the popup window and enter DevTools for that window. In the console type `chrome.storage.local.get(console.log)` and you should see entries for every tab you've visited while the extension was installed. (mine is over 5k entries)

We should flush the cache once in a while to avoid this from building up. Open questions: How often? What should trigger it? What sho

[2020-12-31 08:01] awareness481 commented on #78
I'm closing this issue as the error doesn't seem to appear anymore.

If your come accross this issue, please make sure you're on version `>=0.4.2` and report back if it still occurs.

[2021-02-01 00:27] dubbha commented on #78
It does occur to me on version 0.4.2
Chrome Version 88.0.4324.104 (Official Build) (64-bit)

I think I understand the use case now. When I load the page, I get LCP and CLS alright, and FID is waiting for input. I have a search input which updates the URL with the search query right away. After I start typing into the input, and it adds something like "?query=Q" to the current URL, the extension go

[2021-02-09 10:57] gnechita-toptal commented on #81
@addyosmani I was recently getting the `Metrics data unavailable.` message and tried to reinstall the Web Vitals extensions via Chrome but I'm getting a Zip error message now.

![image](https://user-images.githubusercontent.com/57177990/107353856-31718180-6ad6-11eb-8dba-3f62775ea926.png)

Any idea on what could I do to reinstall the extension?

MacOS Big Sur 11.2 (20D64)
Version 88.0.4324.146 (Off

[2021-02-09 18:13] addyosmani commented on #81
The fix for the above is in flight and should automatically fix itself once the Chrome Web Store approves the release. In the mean time, I would recommend installing from the repo.

Context: This was my fault - I attempted to push the latest version to 10% of our users last night but there appear to still be some issues in getting the Chrome Web Store unzipping it.

[2021-02-11 01:47] addyosmani commented on #81
This should now be fixed https://chrome.google.com/webstore/detail/web-vitals/ahfhijdlegdabablpippeagghigmibma. Could someone confirm they can install?

[2021-02-11 07:42] gnechita-toptal commented on #81
@addyosmani the installation via Chrome Web Store works now. Thanks for the help Addy!

[2021-03-03 11:30] ognjenjevremovic commented on #83
Hi @rviscomi 👋

I've stumbled upon the `web-vitals` project just over a month ago when I was about to launch a personal website and wanted to check the performance (I was interested in first contentful paint amongst others).
I found the extension super useful and wanted to contribute back to the project 🙂 .

I wanted to check with you if this issue has passed the necessary (internal) triage and is

[2021-04-02 18:50] fgeierst commented on #78
I see the same error "Metrics data unavailable." on Edge 89, Win 10, Web Vitals extension 0.4.5

[2021-04-02 19:02] Ryan-Ray-Neff commented on #78
I'm still seeing the issue as well in Extension 0.4.5, OSX Big Sur 11.2.3, Chrome 89.0.4389.90.
It looks like there is a workaround though. You can right click on the icon, then, select 'options', then select 'Display HUD overlay` to see an overlay on every page load. Alternately, you can select 'Console logging' to see the output in Dev tools console.

[2021-04-03 07:45] transafrika opened #84 "Colours Red or green as an indicator for good or bad should be changeable for colour blind people"
As a so called colour blind person i cant see the difference between the default colors red and green indicating fast or slow loading of a page so it would be very helful if the colours could be changed in the preferences to lets say red and blue. 8% of the male population and 0,5% of all woman have this "red and green problem". https://en.wikipedia.org/wiki/Color_blindness

[2021-04-20 14:15] mmocny opened #85 "Add support for newest version of CLS"
Now that [CLS is evolving](https://web.dev/evolving-cls/) we should consider adding it to the web-vitals extension.

I had previously taken a stab at [adding several of the experimental variants to a fork of web-vitals.js](https://github.com/mmocny/web-vitals/tree/lsn) as well as [to a fork of this extension](https://github.com/mmocny/web-vitals-extension/tree/experimental-ls).  I am not sure if a

[2021-04-22 00:04] Tiggerito opened #86 "Display layout shifts on the page"
Quite a few CLS tools display layout shifts on the page to aid developers in debugging them. So far I have not found one that 100% works.

It would be nice if this extension supported that sort of visualisation.

I've been playing around with [a fork](https://github.com/Tiggerito/web-vitals-extension/tree/on-page-visualisation) that attempts to do this. I'm no expert at extensions, modern js or cs

[2021-05-05 17:51] rviscomi opened #88 "Resize/reposition the HUD when using mobile emulation"
When emulating a mobile device with the HUD on, it occludes about 1/3 of the mobile viewport. This can make it difficult to diagnose things like CLS issues.

Consider styling the HUD more compactly when using mobile emulation.

[2021-06-02 15:29] gangsthub opened #89 "[Feature request] Blinking icon is too distracting. Having an option to disable it might be nice."
Initial state:
<img alt="initial state, only red squared icon" src="https://user-images.githubusercontent.com/6775220/120507384-0da8b300-c3c7-11eb-8f0d-8cb5f558b0d6.png" />
Alternate state:
<img alt="alternate state, req square is covered by some more data, like the metric failing and the offset value"  src="https://user-images.githubusercontent.com/6775220/120507440-1a2d0b80-c3c7-11eb-9ec1-aa6c3f

[2021-06-15 14:48] #53 closed

[2021-06-15 14:49] addyosmani opened #90 "[Release] Update readme/screenshots"
As the UI has heavily been refreshed, new screenshots are needed for CWS and the README.

[2021-06-24 15:50] RunningCoderLee commented on #78
![image](https://user-images.githubusercontent.com/13218863/123293211-6262c800-d546-11eb-87a6-72f5de2b6daf.png)

Anyone has this problem?

extension version: 1.0.0
OS: macOS big sur 11.2.3
Browser version: Microsoft Edge Version 91.0.864.54 (Official build) (arm64)

[2021-06-24 18:37] lakssrini opened #91 "[Bug] TypeError - extension not working"
**Describe the bug**
I just reinstalled the extension and upgraded to v1.0.0. The extension has stopped working on all pages with a `TypeError: Failed to fetch dynamically imported module`. Previous installs were working.

**To Reproduce**
I got the latest master.zip, loaded the extension from source - it failed with the same error reported below.
Removed it and then installed v1.0.0 from chrome s

[2021-06-24 23:21] smerriman commented on #91
Same here. Extension seems completely broken at the moment.

[2021-06-25 03:37] addyosmani commented on #91
Apologies about this. I'll be publishing a hotfix for this release asap.

[2021-06-25 05:00] addyosmani commented on #91
1.0.1 should be published to the store and available to everyone now:

![image](https://user-images.githubusercontent.com/110953/123371986-95518f80-d537-11eb-97c1-6c2bd586cbe8.png)

Can you close the bug if it works for you?

[2021-06-25 17:48] lakssrini commented on #91
It works now. Thanks @addyosmani !

[2021-06-25 17:48] #91 closed

[2021-06-28 23:13] aldarund commented on #78
Same, Web Vitals are unavailable for this page

vitals.js:286 Uncaught (in promise) TypeError: Failed to fetch dynamically imported module: chrome-extension://ahfhijdlegdabablpippeagghigmibma/node_modules/web-vitals/dist/web-vitals.js

[2021-07-01 00:56] smerriman opened #93 "First input delay permanently 'waiting for input'"
The First input delay metric never says anything other than 'waiting for input' on all websites.

Not sure if this is caused by the recent bug that broke the extension entirely, but I see you had exactly the same issue in the screenshot you provided: https://github.com/GoogleChrome/web-vitals-extension/issues/91#issuecomment-868204912

**Version:**

- OS w/ version: Windows 10
- Browser w/ version

[2021-07-01 02:18] rviscomi commented on #93
I'm looking into this. After a few tests I can reproduce the issue.

[2021-07-01 06:31] #93 closed

[2021-07-01 06:33] #90 closed

[2021-07-06 16:01] mmocny opened #95 "1.0 version never seems to show me FID. Always says "waiting for input"."
**Describe the bug**
All page loads give me LCP and CLS, but FID is stuck at "waiting for input" even when I can use PerformanceObserver to see that there was a FID entry available.

**To Reproduce**
Load a page.  Interact with the page (click on some element which will not navigate away).  Check CWV extension, see there is no FID.

**Expected behavior**
A clear and concise description of what you

[2021-07-06 16:02] lebreRafael commented on #85
@mmocny so we should not trust on Web Vitals Extension for CLS numbers until this issue is closed, right? The reason I'm asking is that I'm seeing different numbers between the extension and the Performance tab on devtools, and I'm not sure which one is correct.

[2021-07-06 16:52] mmocny commented on #85
The [latest version of this extension was just released to the store](https://web.dev/field-data-in-the-web-vitals-extension/).  Looking at the [package.json](https://github.com/GoogleChrome/web-vitals-extension/blob/master/package.json#L23) dependency on web-vitals.js, it includes the version with updated CLS.

It wasn't explicitly mentioned in the blogpost, but I think at this point this bug can

[2021-07-06 16:53] mmocny commented on #85
Also, @lebreRafael , I know for sure that the DevTools CLS numbers are not updated.  The situation for DevTools is especially weird since a page recording can take an arbitrary time slide, rather than the full page lifecycle.

[2021-07-06 19:02] lebreRafael commented on #85
If Devtools is outdated that would explain the mismatch, because I'm already using the latest version (1.0.1) of web-vitals-extension, so it should be correct.

@mmocny did you find any issue or something like that saying that Devtools CLS is outdated? If you don't maybe I should open an issue on their repo for that.

[2021-07-06 19:46] lebreRafael commented on #85
I just realized that sometimes I see different numbers between extension and web-vitals JS lib (I'm using it to log CLS on console). Any idea why it is happening?

[2021-07-06 22:28] mmocny commented on #85
I don't have a way to account for that, except in some very odd edge cases (i.e. loading the libraries in different frames, or if the layout-shift entry buffer was already full).

Just to confirm: you are using the 1.0 version of CWV extension and 2.x version of the web-vitals.js library?

[2021-07-07 13:42] lebreRafael commented on #85
yes, CWV 1.0.1 and  web-vitals.js 2.1.0

[2021-07-07 17:52] mmocny commented on #85
Could you give an example site where you see a divergence?  Or better yet, a simple repro test page?

I am getting the same values across the sites I test locally in console, but I'm not sure how you are embedding web-vitals.js

[2021-07-07 18:03] rviscomi commented on #95
Duplicate of https://github.com/GoogleChrome/web-vitals-extension/issues/93, fixed in https://github.com/GoogleChrome/web-vitals-extension/pull/94.

@addyosmani could you release an update to the Chrome Web Store with this fix?

[2021-07-08 18:27] lebreRafael commented on #85
I'll try to create a repro page and publish in a public repo in the next few days

[2021-07-13 03:26] smerriman commented on #95
Any updates on this? Has been 12 days since the bug was fixed, and with the Google Core Web Vitals update in place, it would be nice to be able to debug properly.

[2021-07-14 02:03] rviscomi commented on #85
Yes the latest version of the extension should now be using the updated CLS definition so I think we can close this.

[2021-07-14 02:03] #85 closed

[2021-07-15 21:50] smerriman commented on #93
1.02 has not fixed this issue. The HUD continues to show 'waiting for input'.

[2021-07-23 11:00] SkaiiiDSO opened #96 "WebVitals measures different LCP than Google Lighthouse"
Hi all,

i've come across following Bug with the WebVitals-Extension

**Describe the bug**
When Running a Lighthouse-Test on a Webpage and viewing the Web Vitals through the WebVitals Extensions the resulting LCP in Lighthouse and WebVitals-Extension differs in some Cases.
EDIT: This seems to happen on mostly clientside rendered pages (for example: https://www.imwalking.de/damenschuhe/pumps/#als=t

[2021-07-26 18:35] rviscomi commented on #96
Not sure this is a bug with the extension, as its CWV data is based on the web-vitals.js library. AFAIK Lighthouse uses the native APIs directly and not the wv library so that may be a source of discrepancy. cc @philipwalton @paulirish

[2021-07-26 19:01] paulirish commented on #96
Lighthouse's LCP (as of 8.0) includes all subframes, too. (matching CrUX).
As I'm guessing the extension doesn't also gather the values from subframes, this may explain the discrepancy.

If it's not a matter of subframes, this is unexpected. (I'm 85% sure our time origin definitions match up, but that'd be my next guess)

[2021-11-20 04:02] bugushi commented on #81
hi, I ran into the same problem, can you share the solution?

[2022-04-05 14:09] MaluNoPeleke commented on #78
This still happens with v1.0.2 and Chrome 100

[2022-04-05 15:43] rviscomi commented on #78
@MaluNoPeleke are you seeing that on all pages? If only on specific pages, could you share their URLs?

[2022-04-05 16:56] MaluNoPeleke commented on #78
Happens on every page

[2022-04-05 20:37] rviscomi commented on #78
@MaluNoPeleke thanks for confirming. Does the popup look like the screenshot below?

_(blank area with the message "Web Vitals are unavailable for this page")_

One more thing. If you right click on the popup and select **Inspect**, do you see any error messages in the DevTools console?

_("Storage empty for key 933747933: [object Object]")_

[2022-04-06 07:57] MaluNoPeleke commented on #78
Yes, the window looks exactly like this and shows the same error message:
![image](https://user-images.githubusercontent.com/1446541/161925062-eee16e97-4c66-4e8d-afb3-68c123e5cdc2.png)

[2022-04-08 16:55] rviscomi commented on #78
Thanks for confirming. I can reproduce the error, but only on Google websites, by design.

Can you visit http://example.com/ just to verify that you get the error consistently on every page?

If that still doesn't work, the only other thing I can think of would be to uninstall and reinstall the extension.

[2022-04-11 09:50] MaluNoPeleke commented on #78
Removing and installing it again solved the issue

[2022-05-03 17:36] rviscomi opened #101 "Metrics reset after visibility change"
Steps to reproduce:

1. Go to https://www.cnn.com/
2. Change tabs to hide CNN
3. Return to the CNN tab
4. Click the hamburger menu on the top left of the page
  ![image](https://user-images.githubusercontent.com/1120896/166507762-f79e32d3-d371-4266-a756-be4d43110aea.png)

HUD after Step 1 and Step 3:

<img width="465" alt="image" src="https://user-images.githubusercontent.com/1120896/166507862-611

[2022-05-03 18:12] rviscomi commented on #101
After some investigation, I don't think this bug was caused by the INP changes, but they make the bug more easily reproducible.

You can also reproduce this using the production version of the extension. Instead of triggering INP after the page visibility change, try to trigger CLS. For example, go to https://www.nytimes.com/ and scroll down the entire page after the visibility change. There shoul

[2022-05-05 15:46] #101 closed

[2022-05-11 19:51] rviscomi opened #103 "Adjust the INP duration threshold"
<img width="548" alt="image" src="https://user-images.githubusercontent.com/1120896/167933938-1f0b10a5-ccc3-4ebc-9ed2-449bee88bb95.png">

INP currently shows as "waiting for input" even after interacting with the page, if the interaction latency is sufficiently small. As a result, we show data for FID, but not INP. This might throw people off, so look into lowering the [reporting threshold](https:

[2022-05-11 19:56] rviscomi commented on #27
This appears to be resolved. Closing 👋

[2022-05-11 19:56] #27 closed

[2022-05-11 20:01] rviscomi commented on #83
Hi @ognjenjevremovic sorry I missed your message (I was on leave at the time) but just seeing it now. Would you still be interested to contribute to the extension?

[2022-05-11 20:03] rviscomi commented on #77
[Comment](https://github.com/GoogleChrome/web-vitals-extension/pull/80#discussion_r525435715) from the related PR:

WDYT?

[2022-05-11 20:05] rviscomi commented on #78
Thanks for confirming. Closing this issue and recommending that anyone experiencing unavailable data reinstall the extension.

[2022-05-11 20:05] #78 closed

[2022-05-11 20:07] rviscomi commented on #79
Just to close out this thread, the CLS metric was improved so that it doesn't adversely affect long-lived apps like SPAs.

See https://web.dev/better-layout-shift-metric/ for more info.

[2022-05-11 20:07] #79 closed

[2022-05-11 20:09] rviscomi commented on #81
Closing out this issue. Let us know if this happens again to anyone, but as a workaround if needed you can side load the extension from source.

[2022-05-11 20:09] #81 closed

[2022-05-11 20:10] rviscomi commented on #84
We could have a setting on the Options page to use a different color scheme.

[2022-05-11 20:12] rviscomi commented on #86
I really like the idea of the HUD helping to visualize where on the page there are CWV issues. This is a pretty advanced feature though so it might take some additional design/eng work.

[2022-05-11 20:14] rviscomi commented on #89
I wonder if we can tap into the [prefers-reduced-motion](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) user setting to improve this. The popup also has a slight animation that we can skip.

[2022-05-11 20:16] rviscomi commented on #95
This issue should be fixed for everyone on the latest version. Closing.

[2022-05-11 20:16] #95 closed

[2022-05-11 20:16] rviscomi commented on #96
Seems like this is WAI. Closing.

[2022-05-11 20:16] #96 closed

[2022-05-12 13:44] mmocny commented on #103
Makes sense to me.

Pasting a bit more context here from prior conversations:
- We may be able to decide if its better to add a config option or just default to 16ms after [this issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1321807) is resolved.
- Specifical to "FID shows and INP doesn't" I think it can happen even with 16ms durationThreshold.  Maybe we should just address that issu

[2022-05-27 00:08] techieshark opened #105 "Firefox Extension"
**Is your feature request related to a problem? Please describe.**

I don't always use Chrome

**Describe the solution you'd like**

Make extension available on Firefox

**Additional context**

That would be amazing 🚀

[2022-05-31 01:42] UpToDate2010 opened #106 "web-vitals-extension"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-06-06 15:48] mmocny commented on #103
https://github.com/GoogleChrome/web-vitals/issues/228 is fixed and so now first input now always counts as an INP score.

There's more follow-up there chrome-side to change the reporting of FID, but I think if we just update the web-vitals library this issue will get a lot better.

I did also benchmark PO ([this issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1321807)) and found that

[2022-06-06 20:35] #106 closed

[2022-08-23 17:02] brendankenny opened #107 "the extension's injected `toLocaleString` can cause long tasks in the page's main thread"
**Describe the bug**
Formatting metric timestamps with `toLocaleString()` can cause a long task in the target page's main thread.

**To Reproduce**
- Open DevTools perf panel
- start recording
- visit e.g. https://developer.google.com (or wherever)
- in the perf panel, look for tasks from `web-vitals.js` injected by the extension.

It's not a long task on my machine, but for example:
<img width="4

[2022-10-06 10:36] verlok opened #108 "INP still says “waiting for user input” even after I clicked / typed"
**Describe the bug**
After reading through all the [INP documentation](https://web.dev/inp/) on web-dev and reading the recommendations to optimise INP, I wanted to try if using a skeleton pattern would help reducing INP.

So I tried and created [this pen](https://codepen.io/verlok/pen/abGabpR) on Codepen, which displays gray boxes while the page is loading async content.

The problem is that, eve

[2022-10-06 13:06] tunetheweb commented on #108
Codepens are loaded in iframes and Web APIs [cannot see into iframes](https://github.com/GoogleChrome/web-vitals#limitations) - though it should be noted CrUX does as not limited by Web APIs.

You'll also see that if you turn on the extension's console logging, it registers an LCP but it's the outer page's title, even though the inner iframe's title is bigger.

So to replicate this you'll need to

[2022-10-06 13:25] verlok commented on #108
Thanks @tunetheweb for your reply.

The fact is there are no `iframe`s involved if you open the pen [in debug mode](https://cdpn.io/pen/debug/abGabpR?authentication_hash=YvkgOLvYqbYk) as I mentioned in my first message.

I also tried to download the pen and run it locally on my machine, again no `iframe`s, but I still have the problem.

[2022-10-06 14:44] tunetheweb commented on #108
Apologies for that!

I figured it out. INP, like CLS is basically calculated at the end of page life cycle, not on every interaction. The Extension has some logic to broadcast the latest CLS, but the same doesn't exist for INP. So to get you INP, until that's added, you need to "leave" the page. The easiest way to do that is to switch tabs, and then switch back again.

Will chat to the team about

[2022-10-06 15:52] philipwalton commented on #108
Yeah, what @mmocy said. The `web-vitals` library now [falls back to FID](https://github.com/GoogleChrome/web-vitals/pull/232), so it should always get the first input. Updating it should solve this issue.

[2022-10-06 16:39] verlok commented on #108
Thank you.
So what I did to try and use my page was to install the web-vitals library locally and use the following options

[code]

With that, I get a report of my clicks on the checkbox and on the `html` element, but surprisingly I don't get the reports of other bigger paints like when the main content of the page is updated after the async call.

This is probably an issue to open in the `web-vi

[2022-10-06 16:45] mmocny commented on #108
That is working as intended (even if not as desired).

Specifically, INP only measures up to the single next paint (or, if there is no need for next paint, until the decision point).

If you have async work that updates main content, this will not get captured.  I think you may want to use Element Timing for that, or, perhaps you are making the case for a "Interaction to next LCP" type metric... I

[2022-10-06 16:54] verlok commented on #108
Thanks @mmocny,

I must have completely misunderstood the meaning of "paint" while reading all of the explanation in the INP page.
Let's just ignore [my latest comment](https://github.com/GoogleChrome/web-vitals-extension/issues/108#issuecomment-1270386781) then.

I think this issue still useful as a reminder to roll the the latest web-vitals.js v3.0.
If not, feel free to close this.

[2022-10-06 17:08] tunetheweb commented on #108
You're not the only one who misunderstood this @verlok ! I did too initially.

Some more info here: https://twitter.com/tunetheweb/status/1578065048752242698?s=20&t=FY7tdngVmmGiuXXpJJHW_g

[2022-10-06 22:12] verlok commented on #108
Oooooooh. So it’s like Interaction to Next ability to Paint. Or Potential Paint.

Thank you for this explainer, Barry. I will save the link to your tweet in my bookmarks.

I wonder why this isn’t clear by reading the doc on web.dev/inp

[2022-10-06 22:15] tunetheweb commented on #108
Oh we tweaked that only recently to try to make that more clear: https://github.com/GoogleChrome/web.dev/pull/8686

Open to suggestions on how to further clarify this?

[2022-10-10 17:49] duncanma-stripe commented on #78
@rviscomi  What do you mean "by design", is there something certain sites are doing (or could do) that blocks this extension? Thanks for the info, not asking for a change, just trying to understand why I get that message on a specific site/page